<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"  name="robot">

    <xacro:include filename="robot_core.xacro" />

    <xacro:include filename="gazebo_control.xacro" />

    <xacro:include filename="depth_camera.xacro" />

    <xacro:include filename="lidar.xacro" />
    
<joint name="base_footprint_joint" type="fixed">
    <parent link="base_link"/>
    <child link="base_footprint"/>
    <origin xyz="0 0 -0.09" rpy="0 0 0" />
  </joint>

  <link name="base_footprint"/>

  <joint name="imu_joint" type="fixed">
    <parent link="base_link"/>
    <child link="imu_link"/>
    <origin xyz="0 0.06 0.02" rpy="0 0 0"/>
  </joint>

  <link name="imu_link"/>
</robot>
